.heading {
font-family: copperplate , strong, large;
color: rgb(156, 0, 228);
}


color palette 246, 244, 210
color palette 229, 234, 183

.smallheader {
Font: papyrus, strong, large;
color: orange;
Text decoration : underline;
}
