.heading {
font-family: copperplate , strong, large;
font-size: larger;
color: rgb(13, 12, 0);
}


.background {
    background-color:rgb(246, 244, 210);
    position:relative;
}

#controlpanel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    border-top: 2px solid black;
    border-bottom:2px solid black;
    text-align:center;
    justify-content: space-evenly ;
    position:fixed;
}

.profile-picture {
    display:inline-block;
    width:500px;
    height:500px;
    position:relative;
    left:50%;
}

.box {
display:inline-block;
border:5px solid black;
height: 400px;
width: 600px;
position: absolute;
top:150px
}

#title {
    text-align: center;
    position:relative;
}

#mood-text {
    font-size: 30px;
    font-family: sans-serif;
}

#about-you {
font-size: larger;
font-family: sans-serif;
}

.aboutme {
    font-size: larger;
    font-family: sans-serif;
}
